/Modul6/nbproject/private/
/Modul 7/nbproject/private/
/Modul 7/build/
/Modul7/build/
/Modul7/nbproject/private/
/Lisa_Modul3/nbproject/private/
/Lisa_Modul3/build/
/Lisa_Modul4/nbproject/private/
/Lisa_Modul4/build/
/Lisa_Modul5/nbproject/private/
/Lisa_Modul5/build/
/Lisa_Modul6/nbproject/private/
/Lisa_Modul8/nbproject/private/
/lisa_Modul11/nbproject/private/
/lisa_Modul11/build/